<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8.3-姓名案例_计算属性实现</title>
    <script type="text/javascript" src="../../js/vue.js"></script>
</head>

<body>
    <div id="root">
        姓： <input type="text" v-model='firstName'> <br />
        名 <input type="text" v-model='lastName'>
        全名： <span> {{fullName}}</span>
        <!-- 拿到fullName会缓存  -->
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false //阻止 vue 在启动时生成生产提示。

        const vm = new Vue({
            el: '#root',
            data: {
                firstName: 'Simon',
                lastName: 'Luo'
            },
            computed: {
                fullName: {
                    get() {
                        // console.log(this); // this为vm
                        return this.firstName + '-' + this.lastName;
                    },
                    set(value) {
                        console.log('set', value)
                        const arr = value.split('-')
                        this.firstName = arr[0]
                        this.lastName = arr[1]
                    }
                }
            }
        })
    </script>
</body>

</html>